@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@300&display=swap');


*{
    font-family: 'Roboto', sans-serif;
}

.center-block{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row.col-lg-12,
h1,
h2,
h3,
p{
    font-family: 'Rubik', sans-serif;
}

a.btn1,
a.btn2,
a.btn3{
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 40px;
    font-size: 25px;
}

a.btn1{
    background-color:#d33e43;
}

a.btn2{
    background-color: #05a8aa;
}

a.btn3{
    background-color: #faa613;
}

.bio{
    background-color: #d33e43;
    border-radius: 5rem;
}
 
nav.footer.navbar.navbar-expand-md{
    background-color: #53535e;
}
   
a.pbtn1,
a.pbtn2{
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 60px;
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
    background-color: #05a8aa;
}

.learn{
    color: #d33e43;
}

.see{
    color: #05a8aa;
}

h1.title{
    color: #05a8aa;
}

h2.cap{
    color: #faa613;
}

button.yellow.btn{
    color: #faa613;
}

h3.que{
    color: #faa613;
}