@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end of css reset*/

body{
    background-color: #f7f7ff;
    margin: 30px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 30px;
}

body #logo{
    width: 40%;
    padding: 15px;
}

h1{
    font-size: 105px;
    font-weight: bold;
    color: #333131;   
}

.container p{
    font-size: 28px;
    padding: 15px;
}

.container img{
    width: 80%;
    padding-left: 45px;
}

.wrapper{
    border: 1px solid white;
    background-color: white;
    border-radius: 25px;
    box-shadow: 5px 10px 5px #888888;
    padding-right: 20px;
    padding-left: 20px;
    width: 70%;
    margin: auto;
}

h2{
    font-size: 50px;
    font-weight: bold;
    color: #333131;
    text-align: center;
    padding: 10px;
}

.wrapper p{
    color: #333131;
    font-size: 20px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.wrapper fieldset{
    padding: 10px;
}

.wrapper fieldset input {
    background-color: #f7f7ff;
    border: none;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.wrapper form .box{
    padding: 10px;
    color: #333131;
}

button{
    width: 100%;
    border: none;
    border-radius: 10px;
    height: 50px;
    background-color: #57eeab;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bold;   
}
.wrapper form p{
    font-size: 18px;
    padding: 10px;
    color: #ff8480;
    padding-bottom: 25px;
}

footer{
    background-color: #fffd8c;
    padding: 35px;
    margin: -30px;
    margin-bottom: -70px;
    position: relative;
}

h3{
    font-weight: bold;
    font-size: 30px;
    color: #333131;
    padding-bottom: 15px;
}

.foot{
    padding-top: 70px;
}

footer p{
    color: #333131;
    font-size: 20px;
    padding-bottom: 15px;
}

footer .row{
    display: flex;
    padding-bottom: 15px;
    padding-right: 20px;
    resize: both;
}
footer .row input{
    padding: 10px;
    width: 100px;
    font-family: 'Montserrat', sans-serif;
    color: #333131;
    border: none;
    border-radius: 10px;
}

input.checkbox{
    border: solid black 10px;
}

input#hours{
    width: 50px;
}

input#city{
    width: 170%;
}

footer fieldset{
    padding-right: 10px;
}

footer button{
    background-color: #ff8480;
    color: white;
    height: 45px;
}

footer .icons{
    display: block;
    padding: 10px;
    text-align: center;
}

img#facebook,
img#instagram,
img#twitter,
img#linkedin{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 25px;
}

@media(min-width:690px){

    body #logo{
        width: 30%;
    }

    .container img{
        width: 70%;
        padding-left: 100px;
        padding-bottom: 30px;
    }

    h2{
        padding-right: 215px;
    }

    footer button{
        width: 40%;
        float: right;
        margin-top: -38px;
        height: 40px;
    }

    div.row{
        padding: 0px 0px 0px 0px;
        width:40%;
        resize: both;
    }
    
}

@media(min-width:1000px){

   body{
        margin: 50px; 
    }

    div.container{
        margin-bottom: -650px;
    }

    body #logo{
        width: 10%;
        padding-bottom: 100px;
    }

    .container{
        position: relative;
        margin: auto;
    }

    h1,
    .container p{
        margin-right: 63%;
    }

    h1{
        font-size: 60px;
    }

    .container p{
        font-size: 20px;
    }

    .container img{
        width: 50%;
        position: relative;
        bottom: 300px;
        right: -200px;
    }

    .wrapper{
        width: 30%;
        position: relative;
        bottom: 100px;
        right: -400px;
    }

    .wrapper h2{
        width: 60%;
        padding-right: 5px;
        font-size: 40px;
    }

    .wrapper form p{
        width: 100%;
        padding-right: 5px;
        font-size: 13px;
    }

    footer{
        margin: -50px;
    }

    div.foot{
        position: relative;
        top: 30px;
    }

    footer button{
        float: left;
        margin-left: 420px;
        width: 20%;
        height: 37px;
    }

    footer .icons{
        display: flex;
        float: right;
        margin-top: -60px;
    }

    h3{
        font-size: 20px;
    }
    
    footer p{
        font-size: 16px;
    }
}